body{
background: red;
}
.login_div1 , .login_div2
{
	background: white;
	padding: 40px;
	float: none;
	border-radius: 15px;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	
}
button{
	background-color: blue;
	color: white;
	border-radius: 20px;
}